body{background-color: red;}

h1{border: 10px solid lightcoral;}
p1{border: 2px solid violet;
    margin: 1px;}
h2{border: 10px solid seagreen;}
p2{border: 2px solid greenyellow;
    margin: 1px}
h3{border: 10px solid orange;}
p3{border: 2px solid papayawhip;
    margin: 1px}
h4{border: 10px solid purple;}
p4{border: 2px solid rebeccapurple;
    margin: 1px}
h5{border: 10px solid royalblue;}
p5{border: 2px solid slateblue;
    margin: 1px}
h6{border: 10px solid lightcoral;}
p6{border: 2px solid lightsalmon;
    margin: 1px}